<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DashboardLoginFilter</filter-name>
        <filter-class>filter.DashboardLoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminRoleFilter</filter-name>
        <filter-class>filter.AdminRoleFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MakertingRoleFilter</filter-name>
        <filter-class>filter.MakertingRoleFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SaleRoleFilter</filter-name>
        <filter-class>filter.SaleRoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SaleRoleFilter</filter-name>
        <url-pattern>/dashboard/order/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MakertingRoleFilter</filter-name>
        <url-pattern>/dashboard/blog/*</url-pattern>
        <url-pattern>/dashboard/slider/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminRoleFilter</filter-name>
        <url-pattern>/dashboard/product/*</url-pattern>
        <url-pattern>/dashboard/category/*</url-pattern>
        <url-pattern>/dashboard/size/*</url-pattern>
        <url-pattern>/dashboard/color/*</url-pattern>
        <url-pattern>/dashboard/user/*</url-pattern>
        <url-pattern>/dashboard/role/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DashboardLoginFilter</filter-name>
        <url-pattern>/dashboard/dashboard.ad</url-pattern>
        <url-pattern>/dashboard/slider/*</url-pattern>
        <url-pattern>/dashboard/blog/*</url-pattern>
        <url-pattern>/dashboard/product/*</url-pattern>
        <url-pattern>/dashboard/category/*</url-pattern>
        <url-pattern>/dashboard/size/*</url-pattern>
        <url-pattern>/dashboard/color/*</url-pattern>
        <url-pattern>/dashboard/user/*</url-pattern>
        <url-pattern>/dashboard/order/*</url-pattern>
        <url-pattern>/dashboard/role/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/login/changepass.do</url-pattern>
        <url-pattern>/login/userProfile.do</url-pattern>
        <url-pattern>/cart/checkout.do</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
