
/* Custom styles for the product list */
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.product-card {
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-image {
    height: 280px; /* Set a fixed height */
    object-fit: contain;
    width: 280px;


}

.product-card h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.product-card p {
    font-size: 0.9rem;
    color: #555;
}